{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}DoneStatus {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet">
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}

.td_style {
  color: #0057e7;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}

<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active"> </li>
</ol>
<!-- end breadcrumb -->

<!-- begin page-header -->
	<h1 class="page-header">Updates <small>Submit Update </small></h1>
<!-- end page-header -->

{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}


<!-- begin row -->
<div id='case_details' class="row">

	<!-- begin col-12 -->
    <div class="col-md-12">

    	<!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
   
                <h4 class="panel-title"> Status Update </h4>
            </div>
            <div class="panel-body">
            	<form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="false" >
                	{% csrf_token %}
					<div id="wizard_status_update">
						


						<!-- begin wizard step-1 -->
						<div class="wizard-step-1">
                            <fieldset>
                                <div class="row">

                        			<div class="form-group">
										<label class="control-label col-md-3 col-sm-3" >What did you get done? :</label>
										<div class="col-md-7 col-sm-7">									 
											                                       
	                                        {{ form.update }}
										</div>
										
									</div> 
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3" >What will you work on next? :</label>
										<div class="col-md-7 col-sm-7">									 
											                                       
	                                        {{ form.workon }}
										</div>
										
									</div> 
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3" >Challenges encountered:</label>
										<div class="col-md-7 col-sm-7">									 
											                                       
	                                        {{ form.challenge }}
										</div>
										
									</div> 


									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3" >Tags :</label>
										<div class="col-md-7 col-sm-7">
											 
											<ul id="tags_list" class="white" placeholder="type">
	                                        </ul>
	                                         
	                                        {{ form.tags }}
										</div>
										<a href="#" data-toggle="tooltip" title="Enter appropriate tags"><i class="fa fa-info-circle fa-sm"></i></a>
									</div>
                                </div>
                                <!-- end row -->
							</fieldset>
						</div>
						<!-- end wizard step-1 -->
					</div>

					<div class="panel-body panel-form">
						<div class="form-group">
							<label class="control-label col-md-4 col-sm-4"></label>
							<div class="col-md-6 col-sm-6">
							    <p></p>
								<button id="mysubmit378" type="submit" class="btn btn-primary">Submit</button>
								<button class="btn btn-default" onClick="fnCancel()">Cancel</button>
								<p></p>
							</div>
						</div>
                    </div>

				</form>
            </div>
        </div>
        <!-- end panel -->

    </div>
    <!-- end col-12 -->

</div>
<!-- end row -->

{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/tag-it.js' %}"></script>

</script>

<script>
jQuery(document).ready(function() 
{

	var tags_list = new Array();


    /* --------------------- Manage Tag-It.js Controls --------------------- */
	$('#tags_list').tagit(
	{
		placeholderText:'Type tags + ENTER',

		afterTagAdded: function(event, ui)
		{
        	var tags_list = $("#tags_list").tagit("assignedTags");
        	$("#tags").val(tags_list)
	    },

	    afterTagRemoved : function(event, ui)
		{
        	var tags_list = $("#tags_list").tagit("assignedTags");
        	$("#tags").val(tags_list)
	    }
	});
	/* ----------------------------------------------------------------- */

	$('html,body').scrollTop(0);
});
</script>

	
{% endblock %}