{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %} Dashboard {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />

{% endblock %}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li class="active">Overview</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Updates <small>Status submission</small></h1>
<!-- end page-header -->

 <div class="panel-body">
    <form class="form-inline" action="." method="POST" data-parsley-validate="true">
        {% csrf_token %}
        <div class="form-group">
            {{ form2.tags }}
        </div>
        <div class="form-group">
            {{ form2.task_date }}
        </div>
        <div class="form-group">
            {{ form2.person }}
        </div>
        <button type="submit" class="btn btn-sm btn-primary m-r-5">
            <i class="fa fa-filter"></i>&nbsp;&nbsp;<b>Filter</b>
        </button>
       
    </form>        
</div>
<div class="panel-body">
<!-- begin row -->
<div class="row">
<div class="col-md-12">
	{% for status in status_updates %}
		<div class="card">
			<div class="header">
				<p>{{ status.owner.get_full_name }}</p>
				<small>{{ status.updated_at}}</small>
			</div>
			<div class="body">
				<p class="update">{{status.update}}</p>
				<p class="workon">Next - {{status.workon}}</p>
				<p class="challenges">Challenges - {{status.challenges}}</p>
				{% if status.tags %}
				<p class="tags">Tags - {{status.tags.names|join:", "}}</p>
				{% endif %}
			</div>
		</div>
	{% endfor %}
</div>
</div>
</div>
{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var handleDatepicker = function() {
		    $('#task_date').datepicker({
		        dateFormat: 'yy-mm-dd', format: 'yyyy-mm-dd',
		        endDate: '+0d', enddate: '+0d', autoclose: true
		    });
		};

		handleDatepicker();
	});
</script>

{% endblock %}