{% load app_class %}
<ul class="nav">
	<li class="nav-header">Navigation</li>
	<li class="has-sub {{ request.path|get_class:'/' }}">
		<a href="{% url 'home' %}">
		    <i class="fa fa-laptop"></i>
		    <span>Overview</span>
	    </a>
	</li>

	<li class="has-sub {{ request.path|get_class:'status' }}">
		<a href="{% url 'status_update' %}">
		    <i class="fa fa-plus"></i>
		    <span>Submit Update</span>
		</a>	  
	</li>

    <!-- begin sidebar minify button -->
	<li><a href="#" class="sidebar-minify-btn" data-click="sidebar-minify">
	    <i class="fa fa-angle-double-left"></i></a>
	</li>
    <!-- end sidebar minify button -->
</ul>
